<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content={{ site.author }}>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css" media="screen,tv">
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body>
    <header>
      <a href="http://github.com/logaling/logaling-command"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
      <div id="homeMessage">
        <h1 id="homeLogo"><a href="/"><img alt="{{ site.title }}" src="/images/homeLogo.png"></a></h1>
        <p>logaling-command は、翻訳作業に欠かせない訳語の確認や選定をサポートする CUI ツールです。「対訳用語集」を簡単に作成、編集、検索することができます。</p>
      </div>
      <p><img alt="loga lookup word" src="images/homeImage.png"></p>
      <ul class="button">
        <li><a href="/about.html" title="もっと詳しく">logaling について</a></li>
        <li><a href="/documentation.html" title="チュートリアル">ドキュメント</a></li>
        <li><a href="http://rubydoc.info/gems/logaling-command/frames" title="ドキュメント">API リファレンス</a></li>
        <li><a href="/contribution.html" title="Contribution">コミュニティ</a></li>
      </ul>
    </header>
    <article>
      {{ content }}
    </article>
    <footer>
      <p id="copyright">&copy; logaling project</p>
    </footer>
  </body>
</html>
